//? main wrapper, have title above this container for BANNER LATER
.container {
    background-color: var(--mainWhite);
    margin: 15rem auto 0 auto;
}
.nope {
   // background-color: var(--mainBlue);
   margin: 15rem auto 0 auto;
}

.text {
    font-size: 1.3rem;
}

.flex {
    max-width: 120rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
    .icons {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .svg1 {
            cursor: pointer;
            height: 1.9rem;
            width: 1.9rem;
            fill:var(--mainDark);
        }
        .svg2 {
            cursor: pointer;
            height: 2.04rem;
            width: 2.04rem;
            fill:var(--mainDark);
        }
    }
}


//? main grid 
.grid {
    display: grid;

 
    grid-auto-rows: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    
    padding: 2rem 2rem;
    margin: 0 auto 0 auto;
    max-width: 120rem;
}

//? alt grid
.gridFlip {
    display: grid;
    max-width: 120rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.5rem;
    padding: 2rem 2rem;
    margin: 0 auto 0 auto;
}


.navPagination {
   
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 2px;
    display: flex;
   // align-items: center;
    justify-content: center;
}

//? pagination inc.
.footerQuestionmark {
    border-bottom: 200px  var(--grey) solid;
}


//? media queries, Adjust/convert values Later!
@media (max-width: 1300px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(150px, auto);
        //grid-auto-rows: 500px;
    }
}
@media (max-width: 990px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(250px, auto);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
       // grid-auto-rows: minmax(600px, auto);
        //grid-template-rows: repeat(12, 400px);
    }

    .gridFlip {
        grid-auto-rows: minmax(100px, auto); 
    }
}

//title

.titleContainer {
    margin: 4.5rem auto;
  }

  .title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

.center {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .subTitle {
    font-size: 1.3rem;
  }

  .cStyle {
    text-decoration: none;
    color: var(--mainDark);
   }
