{
    "presets": [
        [
            "@babel/preset-env",
           // "@babel/plugin-transform-runtime",
            { "targets": {
                  "node":"current"
                // "esmodules": true
            }}
        ]
    ]
}