.form {
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;


    .formContainer{
        max-width: 32rem;
        flex: 1 1 0;


    .formSubContainer {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border: .1rem var(--black) solid;
        border-radius: .5rem;
        list-style-type: none;

        .title {
            font-size: 2rem;
        }

        li {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        .radioFlex {
            display: flex;
            align-items: center;
        }

        input {
            padding: 1rem;
            border: .1rem var(--black) solid;
            border-radius: .5rem;
            margin-right: 1rem;
        }

        .text {
            margin: 3rem 0 0 0;
        }
    
        .button {
            
            margin: 0;
            z-index: 3;
            width: 100%;
            text-align: center;
            border-radius: .5rem;
            cursor:pointer;
            text-decoration: none;
            background:var(--mainDark);
            text-transform: uppercase;
            color:var(--mainWhite);
            padding: 1rem 1.5rem;
            transition: all 250ms ease-out;
    
            &:hover {
                color:var(--mainDark);
                background-color: var(--lightGrey);
            }
        }
    }
}


}