.checkoutSteps {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 4.5rem auto 0 auto;

    
 & > div {
    border-top: .3rem var(--lightGrey) solid;
    color: var(--lightGrey);
    flex: 1 1;
    padding-top: 1rem;
    &.active {
        border-top: .3rem var(--black) solid;
        color: var(--black);
    }
}
}
