//? Main container
.container {
    padding-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
 }
 

 
 
 
 
 
 
 //? Main image container
 .imgOverlay {

   height: 300px;
     display: grid;
     position: relative;
     
 }
 
 .image {
     grid-column: 1 / -1;
     grid-row: 1 / -1;
     width: 100%;
     height: 100%;
     object-fit: cover;
     overflow: hidden;
     background-position: center;
     border-radius: .5rem;
 }
 
 //? container for image overlay
 .overlayContainer {
     opacity: 0;

     grid-column: 1 / -1;
     grid-row: 1 / -1;
     position: relative;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 1fr);
     transition: all 250ms ease-out;
     
     
     &:hover {
         opacity: 1;
     } 

     .circle{
      
        line-height: 3rem;
        text-align: center;
         width:3rem;
         height:3rem;
         padding: .5rem;
         border-radius: 50%;
         background-color: aqua;
        position: absolute;
        z-index: 5;
        top: 2rem;
        left: 2rem;

     }

     .liked {
        
         z-index: 10;
         top: 2rem;
         right: 1.5rem;
        position: absolute;
     
        
     }
 
 }
 //? global for reusability
 .liked {
     transition: all 250ms ease-out;
     cursor: pointer;
     text-decoration: none;
     color: var(--mainDark);
     font-size: 3rem;
          &:hover {
            
             color: var(--mainWhite);
          }
 
 }

 .saleWrapper {
     position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 5;
    top: 2rem;
    left: 1.5rem;
 }

 .circle{
      
    line-height: 3rem;
    text-align: center;
     width:3rem;
     height:3rem;
     padding: .6rem;
     border-radius: 50%;
     background-color: aqua;

 }

 .circleNum {
     margin-bottom: 1rem;
   
 }

 .circleString {

 }

 .saleString {
     font-size: 1.3rem;
 }

 
 //? visible during list View
 .listIcons {
     width: 100%;
     justify-content: flex-start;
     padding-left: 2rem;
     display: flex;
         .button2 {
             color: var(--mainWhite);
             background-color:var(--mainDark);
             margin-right: 2rem;
             &:hover {
                 color: var(--mainDark);
                 background-color: var(--mainWhite);
             }
         }
 }
 
 //? add Link tag to image
 .overlay {
   
     z-index: 5;
     background-color: var(--hoverColor);
     grid-column: 1 / -1;
     grid-row: 1 / -1;
     position: relative;
     border-radius: .5rem;
 }
 
 //? button wrapper
 .bwrapper {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 
     
         z-index: 10;
     min-width: 1.5rem;
 
      display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: 1.3rem;
 }
 
 //? global for transition reusability
 .button1:hover, .button2:hover {
     transition: all 250ms ease-out;
     background-color:var(--mainDark);
     color: var(--mainWhite);
    }
 
 
 
 
 .button1 {
   
     z-index: 3;
     margin-bottom: 5px;
     border: none;
     cursor:pointer;
     text-decoration: none;
     background: none;
   //  border: 2px solid red;
     color:var(--mainDark);
     text-transform: uppercase;
     background:var(--mainWhite);
     padding: 10px;
 }
 
 
 .button2 {
         display: flex;
         flex-direction: column;
         justify-content: center;
     text-decoration: none;
     z-index: 3;
     cursor:pointer;
     background: none;
     border: none;
     color: var(--mainDark);
     text-transform: uppercase;
     background: var(--mainWhite);
     padding: 10px;
 
   
 }
 
 
 //? item description/ icons wrapper
 .contents {
    
     z-index: 4;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
 
 //? default description
 .contDesc {
     .title {
         font-size: 2rem;
     }

     .price {
         font-size: 2rem;
         padding-top: .5rem;
     }
     .discountWrapper {
         display: flex;
         align-content: center;
         
         .sale{
             text-decoration: line-through;
             font-size: 1rem;
             padding-left: .5rem;
             padding-top: .7rem;

         }

         .price {
           font-size: 2rem;
         }
     }
 }

 
 
 
 //? manually display block
 .visible {
     display: block;
 }
 
 
 //? manually display none
 .nope {
     display: none;
 }
 


 //768 px
 @media (max-width: 48rem) {
    .imgOverlay {

        height: 400px;
          
      }
 }
 
 
 
 //! DELETE : JUST A TEST
 .show {
     display: block;
 }
 
 
 //? manually display none
 .none {
     display: none;
 }