*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Raleway', sans-serif;
     font-family: 'Open Sans', sans-serif;
    background-color: var(--mainWhite);
    position:relative;
    top:5rem;
}


:root {
    --lightBlack: #242526;
    --black: #1c1b1b;
    --grey: #484a4d;
    --lightGrey:  #afafaf;
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #ececec;
    --mainDark: #232528;
    --mainYellow: #ffc60032;
    --orange: orange;
    --red: red;
}