

//!start



//? placeholder Main page container


.placeorder {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;

    .fontSize {
        font-size: 1.5rem;
   }
   .fontSizeSm {
       font-size: 1.3rem;
   }
    ul {
        list-style-type: none;
    }

    a {
        color: var(--black);
        text-decoration: none;
      }
  

//? inner container 1: left side
  .placeorderInfo {
    flex: 3 1 60rem;

    & > div {
        border: 0.1rem #c0c0c0 solid;
        border-radius: 0.5rem;
        background-color: #fcfcfc;
        padding: 1rem;
        margin: 1rem;
      }

      & > div:first-child {
        margin-top: 0;
      }

//? inner cart map
      .cartContainer {
        padding: 0;
        list-style-type: none;
        padding: 1rem;
    
    
        .itemFlex {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            margin-left: .5rem;
          //  align-content: flex-start;
              flex: 8 1;
              
        }
    
    
        li {
            display: flex;
            justify-content: space-between;
          
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 0.1rem #c0c0c0 solid;
    
            &:first-child {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 2rem;
                }

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                  }
    
            img {
                max-width: 10rem;
                max-height: 10rem;
              }
      }
    
      .cartPrice {
        flex: 1 1;
        font-size: 2rem;
        text-align: right;
      }
    
    }

  }


//? innerContaine 2 : right side
  .placeorderAction {
    flex: 1 1 20rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;


    & > ul {
        padding: 0;
        list-style-type: none;
      }

      & > ul > li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

    & > ul > li:last-child {
        font-size: 2rem;
        font-weight: bold;
        color: #c04000;
      }


    .btnPrimary {
        border: 1px solid var(--black);
        width: 100%;
        height: 4rem;
        text-align: center;
        font-size: 2rem;
        margin: 3rem 0;
        transition: all 300ms ease;
        background-color: var(--black);
        color: var(--mainWhite);

        &:hover {
          
          background-color: var(--mainWhite);
          color: var(--black);
        }
      }
  }
}
 